<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->


	<bean class="com.dao.UserDao" id="userDao" init-method="init"
		scope="prototype">
		<property name="name" value="ram"></property>
	</bean>

	<bean class="com.bean.UserBean" id="userBean" scope="singleton">
		<property name="userName" value="admin"></property>
		<property name="password" value="admin"></property>
		<constructor-arg ref="addressBean"></constructor-arg>
	</bean>

	<bean class="com.bean.AddressBean" id="addressBean">
		<property name="city" value="ahmedabad"></property>
		<property name="country" value="India"></property>
	</bean>

</beans>